# Tenderly Virtual TestNets
TENDERLY_ACCESS_TOKEN=your_tenderly_access_token
TENDERLY_ACCOUNT_SLUG=yuvan
TENDERLY_PROJECT_SLUG=project
TENDERLY_ETHEREUM_RPC=https://virtual.mainnet.eu.rpc.tenderly.co/fc856d53-a35a-4d03-8a54-ad1f88e48a6b
TENDERLY_WORLD_CHAIN_RPC=https://virtual.worldchain-mainnet.eu.rpc.tenderly.co/9351a25c-a4fe-452b-86b5-ed87acd05ce8

# Chainlink CRE
CHAINLINK_CRE_API_KEY=your_cre_api_key
CHAINLINK_CRE_ENDPOINT=your_cre_endpoint

# World ID
WORLD_APP_ID=app_staging_xxx
WORLD_ID_ACTION=verify-otc-trader

# Deployer Wallet
PRIVATE_KEY=your_private_key_here
